fastapi==0.115.12
uvicorn==0.34.0
streamlit==1.43.2
pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1
joblib==1.4.2
plotly==6.0.1
psycopg[binary]==3.2.6
scipy==1.15.2
nptdms==1.10.0
requests==2.32.3
python-multipart==0.0.20
